body {
    background-color: #252525;
    overflow: hidden;
    margin: 10px;
}

#terminal {
    width: 100%;
    height: 97vh;
}

/* Remove the scrollbar from xterm */
.xterm-viewport {
    overflow-y: hidden !important;
}

/* Hide the screen by default */
#screen {
    display: none;
}

#screen.visible {
    display: block;
}